section{
    background-color: #03a9f4;
    background-image: url(../img/icons_transparent.png);
    .adv{
        padding: 100px 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        h2{
            text-align: center;
            color: #fff;
            font-family: Poppins-Medium;
            margin-bottom: 70px;
        }
        .adv3table{
            width: 360px;
            height: 312px;
            text-align: center;
            margin: 0px 15px;
            padding: 45px;
            background-color: #fff;
            img{
                margin-bottom: 5px;
                transition: 0.25s all ease-in;
            }
            img:hover{
                transform: scale(1.1);
            }
            h5{
                font-size: 17px;
                font-weight: 500;
                margin: 10px;
            }
            p{
                font-size: 14px;
                line-height: 22px;
                font-weight: 400;
            }
        }
        .adv3button{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 55px;
        }
    }
}