header{
    background-color: #03a9f3;
    div{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        ul li{
            display: inline;
            margin: 10px;
        }
        ul li a{
            font-size: 14px;
            letter-spacing: 0px;
            line-height: 16px;
            text-transform: uppercase;
            color: #ffffff;
            font-weight: 600;
            font-family: "Poppins-Medium";
            text-decoration: none;
        }
    }
}