<section class="container-fluid">
    <div class="container">
        <div class="adv row">
            <h2>Advantages of Our Writing Sevices</h2>
            <div class="col-4 adv3table">
                <img src="../../../assets/img/02-img-1.png" alt="">
                <h5>Professionally-qualified writing experts</h5>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
            <div class="col-4 adv3table">
                <img src="../../../assets/img/02-img-2.png" alt="">
                <h5>Commitment to deliver papers by deadline</h5>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
            <div class="col-4 adv3table">
                <img src="../../../assets/img/02-img-3.png" alt="">
                <h5>Top-Quality, at a great price - guaranteed</h5>
                <p>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born</p>
            </div>
            <div class="adv3button buttonblue col-3"><span>Place an order</span></div>
        </div>
    </div>
</section>