<section class="banner container-fluid">
    <img src="../../../assets/img/img-cloud.png" alt="">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>BlueEssaySite.net -</h1>
                <h1>expert help for custom Written</h1>
                <p>On the hand, we denounce with righteous indig- <br>nation and dislike men who are so beguiled and de- <br>moralized</p>
                <a class="buttonorange" href="#">Place an order</a>
            </div>
            <div class="col-4">
                <img src="../../../assets/img/girl.png" alt="">
            </div>
        </div>
    </div>
</section>