<header class="container-fluid topnav-bg">
    <div class="container">
        <div>
            <a href="#">
                <img src="../../../assets/img/logo.png" alt="logo">
            </a>
        </div>
        <div class="bg-ul">
            <ul>
                <li><a style="margin: 20px;" href="#">sevices</a></li>
                <li><a style="margin: 20px;" href="#">about us</a></li>
                <li><a style="margin: 20px;" href="#">how it works</a></li>
                <li><a href="#"><img src="../../../assets/img/phone.png" alt=""></a></li>
                <li><a class="buttonblue" href="#">sign in</a></li>
                <li><a class="buttonorange" href="#">order</a></li>
                <li><a href="#"><img src="../../../assets/img/burger.png" alt=""></a></li>
            </ul>
        </div>
    </div>
</header>